---
layout: default
---

<h1 class="post-title" align="middle">Hi, I'm Huyanh</h1>
<embed type="text/html" src="d3pie.html" height="550" width="800px - (30px * 2)">

<div class="home">

  <h1 class="page-heading">Writing</h1>


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% if post.external_url %}
            <a  class="post-link" href="{{ post.external_url }}">{{ post.title }}</a>
            <p style="font-size: 45%; float: left; margin-bottom: 10px">({{ post.external_url_base }})</p>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
