---
layout: default
---

<h1 class="post-title" align="middle">Hi, I'm Huyanh</h1>
<embed type="text/html" src="d3pie.html" height="550" width="800px - (30px * 2)">

<div class="home">

  <h1 class="page-heading">Writing</h1>


  <ul class="post-list">
    {% for post in site.posts %}
    <dt><time>{{ post.date | date: "%d %b %Y" }}</time></dt>
    <dd>
      {% if post.external_url %}
      [{{ post.title }}]({{ post.external_url }})
      {% else %}
      [{{ post.title }}]({{ post.url }})
      {% endif %}
    </dd>
    {% endfor %}
  </ul>

</div>
